<div class="" id=""> <%= @product.title %> </div>

<div class="">
  <%= @product.description %>
  <%= image_tag(@product.image, alt: "", class: "") %>
</div>
<%= button_to "Buy", '', class: "", id: "" %>
<%= link_to "Back", root_path, class: "", id: "" %>