<div class="" id=""> <%= @product.title %> </div>

<div class="">
  <%= @product.description %>
  <%= image_tag(@product.image, alt: "", class: "") %>
</div>
<%= link_to "Buy", new_product_order_path(@product, @product.orders.build), class: "", id: "" %>
<%= link_to "Back", root_path, class: "", id: "" %>